{# empty Twig template #}
<html>
    <head>
        <title>Lucky Number</title>
    </head>
    <style>
        #number {
            text-align: center;
            font-size: 2em;
            color: orangered;
        }
    </style>
    <body>
        <div> {{ message|raw }} </div>
        <div id="number">{{ lucky_number }}</div>
    </body>
<html>    
